* {
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    height: 125px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 25px;
    margin-bottom: 25px;
    font-family: 'Give You Glory', cursive;
}

.card-header {
    background-color: rgba(95, 158, 160, 0.632);
    color: whitesmoke;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
}

.row{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.col {
    max-width: 350px;
}
